<!DOCTYPE html>
<html lang="en" class="h-100">
{{>header}}
<body class="bg-dark text-light h-100">
<h1 class="display-3 mt-5 mb-4 text-center">Hello, Student_Name!</h1>
<hr/ class="half-size">
<p class="lead mt-4 mb-5 text-center">
  View your assignments and grades.
</p>
<div class="container-xl bg-light text-dark w-50 mt-5 p-5 shadow rounded">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="text-center d-flex flex-column align-self-start">
      <span class="text-muted">Total</span>
      <span class="badge bg-success rounded-circle badge-grade d-flex justify-content-center align-items-center">100</span>
    </div>
    <button type="button" class="btn btn-danger">Logout</button>
  </div>
  <div class="row align-items-start">
    <div class="col">
      <ul class="nav nav-tabs position-relative border-0" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link border-0 active" id="assignments-tab" data-bs-toggle="tab" data-bs-target="#assignments" type="button" role="tab" aria-controls="assignments" aria-selected="false">Assignments</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link border-0" id="graded-tab" data-bs-toggle="tab" data-bs-target="#graded" type="button" role="tab" aria-controls="graded" aria-selected="true">Graded</button>
        </li>
      </ul>
      <div class="tab-content bg-white p-4 shadow rounded" id="myTabContent">
        <div class="tab-pane fade show active" id="assignments" role="assignments" aria-labelledby="assignments-tab">
          <div id="students_list">
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Assignment Title</div>
                  <div class="mt-2">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addAssignment">View</button>
                    <button type="button" class="btn btn-outline-success">Submit</button>
                  </div>
                </div>
                <div class="text-center d-flex flex-column align-self-center">
                  <span class="text-muted">Due date</span>
                  <span class="badge bg-warning badge-pill">Sep 6</span>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="tab-pane fade" id="graded" role="tabpanel" aria-labelledby="graded-tab">
          <div id="graded_list">
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start p-4">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Assignment One</div>
                </div>
                <span class="badge bg-secondary">A</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-dark" id="addAssignment" tabindex="-1" aria-labelledby="addAssignment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAssignment">Assignment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <h6>Title from Assignment</h6>
          </div>
          <div class="mb-3">
            <div class="text-muted fs-6">
              Description from Assignment
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{>footer}}
</body>
</html>