.half-size {
  width: 100px;
  margin: 0 auto;
}

.invisible {
  display: none !important;
  visibility: hidden !important;
}

.visible {
  display: block !important;
  visibility: visible !important;
}

.link-login:hover {
  text-decoration: underline !important;
}

.badge-grade {
  min-width: 50px;
  min-height: 50px;
}

.list-students>li:before {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.checkmark {
  width: 30px;
  height: 30px;
  color: #ffffff !important;
}

.list-group-numbered.list-non-number>li::before {
  content: '';
}
